html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  image-rendering: pixelated;

}

#crosshair{
  align-self: center;
  
}

img {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

@font-face {
  font-family: 'minecraft';
  src: url('assets/fonts/minecraft.otf') format('opentype');
}



#topleft_info{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  margin: 0;
  padding: .5vmin;

  font-size: 3vmin;
  background: rgba(0, 0, 0, 0.5);
}

body, html{
  padding: 0;
  margin: 0;
background: black;

overflow: hidden; /* Hide scrollbars */

}

#main_menu{
  width:  100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
background-image: url("https://preview.redd.it/a-few-screenshots-i-took-while-playing-with-complementary-v0-raztsppudmdd1.png?width=1080&crop=smart&auto=webp&s=980b945a2804212c1ce1b14ff365e251cb716a3e");
background-size: cover;
position: absolute;
top:0;
left:0;
transition:opacity 2s ease;
}
#singleplayer_menu{
  width:  100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
background-image: url("https://preview.redd.it/a-few-screenshots-i-took-while-playing-with-complementary-v0-raztsppudmdd1.png?width=1080&crop=smart&auto=webp&s=980b945a2804212c1ce1b14ff365e251cb716a3e");
background-size: cover;
position: absolute;
top:0;
left:0;
}
#buttons, #buttons_singleplayer{
  display: flex;
  flex-direction: column;
  width: 80vmin;
  height: 50vmin;

transition: all 2s ease;
transform: scale(1);
}
.button{
  width: 100%;
height: 8vmin;
  border: none;
  font-size: 4vmin;
background-repeat: no-repeat;
background-image: url("/assets/textures/gui/button.png");
background-size: cover;
margin-top: 2vmin;
color: white;
text-align: center;
align-content:center;
text-shadow: .5vmin .5vmin 0px #000000;
transition: all 0.5s ease;
}
.button:hover{
  background-image: url("/assets/textures/gui/button_highlighted.png");
transform: scale(1.05);
}

*{
font-family: 'minecraft';
image-rendering: pixelated;
}


#bottom_left_text{
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}
#logo{
  width: 70vmin;
  margin: 1vmin;
transition: all 2s cubic-bezier(0.037, 0.797, 0.261, 0.973);
transform: scale(10);
}
input{
  width: 100%;
height: 8vmin;
  border: none;
  font-size: 4vmin;
background-repeat: no-repeat;
background-image: url("/assets/textures/gui/button_disabled.png");
background-size: cover;
margin-top: 2vmin;
color: white;
text-align: center;
align-content:center;
text-shadow: .5vmin .5vmin 0px #000000;
transition: all 0.5s ease;
}
